/*
 * Customization Variables
 */

$accent: rgb(86, 200, 255);
$bg: #0f0f0f;
$blocks: #151515;
$text: white;
$image-size: 85px;
$post-margin-left: 30px;

/*
 * Build Variables, don't touch
 */

$max-width: 850px;
$med-width: 600px;
$small-width: 480px;
